<div class="card">
    <img src="../../assets/img/n1.jpg" alt="n1" style="width:100%">
    <h1></h1>
    <p class="price">Rs 350-/</p>
    <p>necklace 1</p>
    <p><button>Add to Cart</button></p>
    <p><button>Buy Now</button></p>
    </div>

    <div class="card">
        <img src="../../assets/img/n2.jpg" alt="n2" style="width:100%">
        <h1></h1>
        <p class="price">Rs 450-/</p>
        <p>necklace 2</p>
        <p><button>Add to Cart</button></p>
        <p><button>Buy Now</button></p>
        </div>
    
        <div class="card">
            <img src="../../assets/img/n3.jpg" alt="n3" style="width:100%">
            <h1></h1>
            <p class="price">Rs 500-/</p>
            <p>necklace 3</p>
            <p><button>Add to Cart</button></p>
            <p><button>Buy Now</button></p>
            </div>
           
            <div class="card">
                <img src="../../assets/img/n4.jpg" alt="n4" style="width:100%">
                <h1></h1>
                <p class="price">Rs 550-/</p>
                <p>necklace 4</p>
                <p><button>Add to Cart</button></p>
                <p><button>Buy Now</button></p>
                </div>
               
                <div class="card">
                    <img src="../../assets/img/n5.jpg" alt="n5" style="width:100%">
                    <h1></h1>
                    <p class="price">Rs 250-/</p>
                    <p>necklace 5</p>
                    <p><button>Add to Cart</button></p>
                    <p><button>Buy Now</button></p>
                    </div>
                
            
        