<div class="card">
    <img src="../../assets/img/a1.jpg" alt="a1" style="width:100%">
    <h1></h1>
    <p class="price">Rs 350-/</p>
    <p>anklet 1</p>
    <p><button class ="nav-link" [routerLink]="['address']" >Add to Cart</button></p>
    </div>

    <div class="card">
        <img src="../../assets/img/a2.jpg" alt="a2" style="width:100%">
        <h1></h1>
        <p class="price">Rs 450-/</p>
        <p>anklet 2</p>
        <p><button class ="nav-link" [routerLink]="['address']">Add to Cart</button></p>
        </div>
    
        <div class="card">
            <img src="../../assets/img/a3.jpg" alt="a3" style="width:100%">
            <h1></h1>
            <p class="price">Rs 500-/</p>
            <p>anklet 3</p>
            <p><button class ="nav-link" [routerLink]="['address']">Add to Cart</button></p>
            </div>
           
            <div class="card">
                <img src="../../assets/img/a4.jpg" alt="a4" style="width:100%">
                <h1></h1>
                <p class="price">Rs 550-/</p>
                <p>anklet 4</p>
                <p><button class ="nav-link" [routerLink]="['address']">Add to Cart</button></p>
                </div>
               
                <div class="card">
                    <img src="../../assets/img/a5.jpg" alt="a5" style="width:100%">
                    <h1></h1>
                    <p class="price">Rs 250-/</p>
                    <p>anklet 5</p>
                    <p><button class ="nav-link" [routerLink]="['address']">Add to Cart</button></p>
                    </div>
                
            
        