<div class="card">
    <img src="../../assets/img/e1.jpg" alt="e1" style="width:100%">
    <h1></h1>
    <p class="price">Rs 350-/</p>
    <p>ear ring 1</p>
    <p><a class ="nav-link" [routerLink]="['address']"><button>Add to Cart</button></a></p>
        </div>

    <div class="card">
        <img src="../../assets/img/e2.jpg" alt="e2" style="width:100%">
        <h1></h1>
        <p class="price">Rs 450-/</p>
        <p>ear ring 2</p>
        <p><a class ="nav-link" [routerLink]="['address']"><button>Add to Cart</button></a></p>
        </div>
    
        <div class="card">
            <img src="../../assets/img/e3.jpg" alt="e3" style="width:100%">
            <h1></h1>
            <p class="price">Rs 500-/</p>
            <p>ear ring 3</p>
            <p><a class ="nav-link" [routerLink]="['address']"><button>Add to Cart</button></a></p>
                </div>
           
            <div class="card">
                <img src="../../assets/img/e4.jpg" alt="e4" style="width:100%">
                <h1></h1>
                <p class="price">Rs 550-/</p>
                <p>ear ring 4</p>
                <p><a class ="nav-link" [routerLink]="['address']"><button>Add to Cart</button></a></p>
                </div>
               
                <div class="card">
                    <img src="../../assets/img/e5.jpg" alt="e5" style="width:100%">
                    <h1></h1>
                    <p class="price">Rs 250-/</p>
                    <p>ear ring 5</p>
                    <p><a class ="nav-link" [routerLink]="['address']"><button>Add to Cart</button></a></p>
                    </div>
                
            
        