<!-- #about -->
<div id="about" class="paddsection">
        <div class="container">
          <div class="row justify-content-between">
    
            <div class="col-lg-4 ">
              <div class="div-img-bg">
                <div class="about-img">
                  <img src="../../assets/img/006.jpg" class="img-responsive" alt="me">
                </div>
              </div>
            </div>
    
            <div class="col-lg-7">
              <div class="about-descr">
    
                <p class="p-heading"><i>“It’s that time of the year where we have the flexibility and freedom to be a
                  little ambitious..”</i></p>
                <p class="separator"><strong>The company sells only trending artificial jewellery and ethinic style artificial
                  jewellery. This assurance on quality & purity along with transparent &
                  customer friendly policies has enabled us to become an established and trusted
                  brand name in a short time span.
                  website interest people with paid membership allowing them special prices
                  on products which are upto <b class="color">25% less</b> than the market.
                  The company is confident that its trust on the quality and other high margin
                  artificial jewellery along with customer oriented marketing initiatives would
                  continue to help grow its top line as well as bottom line.</strong></p>
              </div>
    
            </div>
          </div>
        </div>
      </div>
      <!-- end section about us -->