<div class="card">
    <img src="../../assets/img/r1.jpg" alt="r1" style="width:100%">
    <h1></h1>
    <p class="price">Rs 350-/</p>
    <p>ring 1</p>
    <p><button class ="nav-link" [routerLink]="['/address']">Add to Cart</button></p>
    
    </div>

    <div class="card">
        <img src="../../assets/img/r2.jpg" alt="r2" style="width:100%">
        <h1></h1>
        <p class="price">Rs 450-/</p>
        <p>ring 2</p>
        <p><button class ="nav-link" [routerLink]="['/address']">Add to Cart</button></p>
        
        </div>
    
        <div class="card">
            <img src="../../assets/img/r3.jpg" alt="r3" style="width:100%">
            <h1></h1>
            <p class="price">Rs 500-/</p>
            <p>ring 3</p>
            <p><button class ="nav-link" [routerLink]="['/address']">Add to Cart</button></p>
           
            </div>
           
            <div class="card">
                <img src="../../assets/img/r4.jpg" alt="r4" style="width:100%">
                <h1></h1>
                <p class="price">Rs 550-/</p>
                <p>ring 4</p>
                <p><button class ="nav-link" [routerLink]="['/address']">Add to Cart</button></p>
                
                </div>
               
                <div class="card">
                    <img src="../../assets/img/r5.jpg" alt="r5" style="width:100%">
                    <h1></h1>
                    <p class="price">Rs 250-/</p>
                    <p>ring 5</p>
                    <p><button class ="nav-link" [routerLink]="['/address']">Add to Cart</button></p>
                  
                    </div>
                
            
        