<div class="card">
    <img src="../../assets/img/b1.jpg" alt="b1" style="width:100%">
    <h1></h1>
    <p class="price">Rs 350-/</p>
    <p>bracelet 1</p>
    <p><button class ="nav-link" [routerLink]="['/address']">Add to Cart</button></p>
    </div>

    <div class="card">
        <img src="../../assets/img/b2.jpg" alt="b2" style="width:100%">
        <h1></h1>
        <p class="price">Rs 300-/</p>
        <p>bracelet 2</p>
        <p><button class ="nav-link" [routerLink]="['/address']">Add to Cart</button></p>
        </div>

    <div class="card">
    <img src="../../assets/img/b3.jpg" alt="b3" style="width:100%">
    <h1></h1>
    <p class="price">Rs 350-/</p>
    <p>bracelet 3</p>
    <p><button class ="nav-link" [routerLink]="['/address']">Add to Cart</button></p>
      </div>

    <div class="card">
        <img src="../../assets/img/b4.jpg" alt="b4" style="width:100%">
        <h1></h1>
        <p class="price">Rs 400-/</p>
        <p>bracelet 4</p>
        <p><button class ="nav-link" [routerLink]="['/address']">Add to Cart</button></p>
        </div>
    
        <div class="card">
            <img src="../../assets/img/b5.jpg" alt="b5" style="width:100%">
            <h1></h1>
            <p class="price">Rs 400-/</p>
            <p>bracelet 5</p>
            <p><button class ="nav-link" [routerLink]="['/address']">Add to Cart</button></p>
            </div>
        